table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
    color: #232627;
}
table.dataTable tbody > tr.selected {
    background-color: #ffffff;
    color: #525f7f;
}